{% extends "base_admin.html" %}

{% block title %}Registered Users{% endblock %}

{% block content %}
<div>
    <h3 style="text-align: center;">Registered Users (Booked Spots)</h3>
</div>

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Full Name</th>
                <th>Username</th>
                <th>Reservations</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                <td>{{ user.user_name }}</td>
                <td>{{ user.reservations|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}